<!DOCTYPE html>
<html>
<head>
    <title>footer </title>
    <link rel="stylesheet" href="header_css/style.css">
    
<footer>

    <p>
        <span>상호명:공유주차 |</span>
        <span>사업자등록번호:000-00-0000 |</span>
        <span>통신판매업 신고번호:제 000-서대문구-1004호 |</span>
        <span>대표:남상규</span><br>
        <span>서울시 서대문구 신촌동 00-00,000타워 3층 (우)0463 |</span>
        <span>전화:1589-2132 |</span>
        <span>ghffksem@DPK.com</span><br>
        <span>◎ 2023 쉽고 편리한 주차 플랫폼 공유주차 </span>
    </p>

</footer>
</html>