<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1, width=device-width" />
	<link rel="stylesheet" href="./map/global.css" />
	<link rel="stylesheet" href="./map/map.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap" />
</head>

<body>
	<div class="htmlcss">
		<div class="div">
			<div class="div1">
				<div class="div2">다음 두 가지 사진을 첨부해주세요.</div>
				<div class="div3">
					<ul class="ul">
						주차 환경 파악 가능한 사진
					</ul>
				</div>
				<div class="parent">
					<div class="div4">
						<ul class="ul">
							토지, 건물 관계 입증 서류
						</ul>
					</div>
					<div class="div5">(예: 토지매매서, 임대계약서)</div>
				</div>
				<div class="rectangle-parent">
					<div class="group-child"></div>
					<img class="vector-icon" alt="" src="img/plus.svg/" />
				</div>
				<div class="rectangle-group">
					<div class="group-child"></div>
					<img class="vector-icon" alt="" src="img/plus.svg/" />
				</div>
				<div class="jpg">ㆍ주차장사진.jpg</div>
				<div class="jpg1">ㆍ입증서류.jpg</div>
				<div class="footer-parent">
					<div class="footer">
						<div class="footer1"></div>
					</div>
					<div class="contactmoduparkingcom-container">
						<p class="p">
							상호명 : 공유주차| 사업자등록번호 : 000-00-0000 | 통신판매업
							신고번호 : 제000-서대문구-0923호 | 대표 : 남상규
						</p>
						<p class="p">
							주소 : 서울시 성동구 왕십리로 00-00, 00타워 3층 (우)04769 | 전화
							: 1899-8242 | Contact@Moduparking.Com |
						</p>
						<p class="p">© 2023 쉽고 편리한 주차 플랫폼 공유주차</p>
					</div>
				</div>
				<div class="rectangle-container">
					<div class="group-inner"></div>
					<div class="div6">파일명</div>
					<div class="rectangle-div"></div>
					<div class="jpg2">주차장 jpg.</div>
					<img class="icon" alt="" src="" />
				</div>
				<div class="inner">
					<div class="group-div">
						<div class="group-child1"></div>
						<div class="group-child2"></div>
						<div class="jpg3">입증서류 jpg.</div>
						<div class="group">
							<div class="div7">파일명</div>
							<img class="icon1" alt="" src="" />
						</div>
					</div>
				</div>
				<div class="rectangle-parent1" id="groupContainer8">
					<div class="group-child3"></div>
					<div class="div8">내 주차장 등록하기</div>
				</div>
			</div>
			<div class="div18">공유주차장 등록</div>
			<div class="container">
				<div class="div16">✔ 필수 정보 입력</div>
				<div class="div15">▪ 공유 주차장</div>
				<div class="div14">
					<input type="text" class="ul2" placeholder="주소를 입력해주세요."></input>
				</div>
				<div class="div10">▪ 주차장 크기</div>
				<div class="div13">
					<input type="text" class="ul2" placeholder="㎡"></input>
				</div>
				<div class="div11">▪ 주차 요금</div>
				<div class="div17">
					<input type="text" class="ul2" placeholder="원"></input>
				</div>
				<div class="div12">▪ 주차장 세부정보</div>
				<div class="div9">
					<input type="text" class="ul3" placeholder="(선택사항) 해당 주자창의 자세한 위치를 설명해주세요."></input>
				</div>
			</div>
			<img class="icon2" alt="" src="카카오지도API" />

			<div class="rectangle-parent2">
				<div class="group-child4"></div>
				<div class="div19">공유주차란?</div>
				<div class="div20">지도</div>
				<div class="div21">다운로드</div>
				<div class="div22">게시판</div>
				<div class="div23">문의</div>
				<img class="icon3" alt="" src="img/Parking_logo.png/" />

				<div class="div24">공유주차</div>
			</div>
		</div>
	</div>


	<script>
		var groupContainer8 = document.getElementById("groupContainer8");
		if (groupContainer8) {
			groupContainer8.addEventListener("click", function (e) {
				// Please sync "주차장 등록완료" to the project
			});
		}
	</script>
</body>

</html>