<!DOCTYPE html>
<html>
	<script>
		
	</script>
	<div class="container">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/useparking/useparking.css">
	
	<div class="header">header</div>
</head>
<body>
<div class="ticket_container">
	<table class="head_table">
		<tr>
		<td>이용중인 주차권</td>
		<td class="td_used">사용된 주차권</td>
		<tr>
	</table>
	
		
	
	<div class="ticket_row">	
	<div class="ticket">
    <div class="ticket_header">
      <img src="useparking/img/parking_logo.png" alt="Parking Logo">
      <h1 class="ticket_title">주차장 이용권</h1>
    </div>
    <div class="ticket-details">
      <p class="parking_name">주차장 이름: 코리아it아카데미(신촌점)</p>
      <p class="parking_name">주차장 주소: 서울시 마포구 136길</p>
    </div>
  </div>
  <div class="used_ticket">
    <div class="ticket_header">
      <img src="useparking/img/parking_logo.png" alt="Parking Logo">
      <h1 class="ticket_title">주차장 이용권</h1>
    </div>
    <div class="ticket-details">
      <p class="parking_name">주차장 이름: 코리아it아카데미(신촌점)</p>
      <p class="parking_name">주차장 주소: 서울시 마포구 136길</p>
	</div>
    </div>
  </div>
  
  
  <div class="ticket_row">
  <div class="ticket">
    <div class="ticket_header">
      <img src="useparking/img/parking_logo.png" alt="Parking Logo">
      <h1 class="ticket_title">주차장 이용권</h1>
    </div>
    <div class="ticket-details">
      <p class="parking_name">주차장 이름: 코리아it아카데미(신촌점)</p>
      <p class="parking_name">주차장 주소: 서울시 마포구 136길</p>
    </div>
  </div>
   
   <div class="used_ticket">
    <div class="ticket_header">
      <img src="useparking/img/parking_logo.png" alt="Parking Logo">
      <h1 class="ticket_title">주차장 이용권</h1>
    </div>
    <div class="ticket-details">
      <p class="parking_name">주차장 이름: 코리아it아카데미(신촌점)</p>
      <p class="parking_name">주차장 주소: 서울시 마포구 136길</p>
    </div>
  </div>
  </div>
  
	 <div class="share_container">
	 <p class="share">공유중인 주차장</p>
  
    <div class="parking-details">
      <h4>주소</h4>
      <p class="address">주차장 주소를 여기에 입력하세요.</p>
      
      <h4>주차면수</h4>
      <p class="area">주차장의 총 주차면수를 여기에 입력하세요.</p>
      
      <h4>30분당 주차요금</h4>
      <p class="cost">30분당 주차 요금을 여기에 입력하세요.</p>
      
      <h4>주차장 설명</h4>
      <p class="explain">주차장에 대한 설명을 여기에 입력하세요.</p>
    </div>
  </div>
  
   <div class="buttons">
    <button class="btn_home" onclick="location.href='http://localhost:9999/cancel'">홈으로</button>
    <button class="btn_cancel">취소신청</button>
  </div>
</body>
	</div>
	
</html>