<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./pay/global.css" />
    <link rel="stylesheet" href="./pay/pay.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div31">
      <div class="frame"></div>
      <div class="footer-parent">
        <div class="footer">
          <div class="footer1"></div>
        </div>
        <div class="contactmoduparkingcom-container">
          <p class="contactmoduparkingcom">
            상호명 : 공유주차| 사업자등록번호 : 000-00-0000 | 통신판매업
            신고번호 : 제000-서대문구-0923호 | 대표 : 남상규
          </p>
          <p class="contactmoduparkingcom">
            주소 : 서울시 성동구 왕십리로 00-00, 00타워 3층 (우)04769 | 전화 :
            1899-8242 | Contact@Moduparking.Com |
          </p>
          <p class="contactmoduparkingcom">
            © 2023 쉽고 편리한 주차 플랫폼 공유주차
          </p>
        </div>
      </div>
      <div class="group-div">
        <div class="group-child9"></div>
        <img class="icon2" alt="" src="./public/-1@2x.png" />

        <div class="rectangle-parent1">
          <div class="group-child10"></div>
          <div class="div32">+</div>
          <div class="div33">-</div>
        </div>
        <img
          class="vector-icon1"
          alt=""
          src="img/map_maker.svg/"
          id="vectorIcon"
        />
      </div>
      <div class="inner1">
        <div class="rectangle-parent2">
          <div class="group-child11"></div>
          <div class="div34">검색</div>
          <div class="group-child12"></div>
          <div class="div35">주차장</div>
          <div class="div36" id="text4">한라 3단지 아파트 주차장</div>
          <div class="group-child13"></div>
          <div class="div37">공유주차장</div>
          <div class="group-child14"></div>
          <div class="div38">공영주차장</div>
          <div class="group-child15"></div>
          <div class="group-child16"></div>
        </div>
      </div>
      <div class="parent1">
        <div class="div39">공유주차란?</div>
        <div class="div40">지도</div>
        <div class="div41">다운로드</div>
        <div class="div42">게시판</div>
        <div class="div43">문의</div>
        <div class="parent2">
          <div class="div44">
            <img class="icon3" alt="" src="img/Parking_logo.png/" />
          </div>
          <div class="div45">공유주차</div>
        </div>
      </div>
      <div class="group-container">
        <div class="group-parent1">
          <div class="rectangle-parent3">
            <div class="group-child17"></div>
            <div class="div46">
              <span class="txt1">
                <p class="contactmoduparkingcom">1시간 기준 1500원</p>
                <p class="p32">이후 30분당 500원</p>
              </span>
            </div>
            <div class="div47">
              <span class="txt1">
                <p class="contactmoduparkingcom">평일 시간권</p>
                <p class="p34">
                  <span>구매당일 17:00~23:59 사이 주차가능</span>
                  <span class="span4"> </span>
                </p>
              </span>
            </div>
          </div>
          <div class="group-frame">
            <div class="rectangle-parent4">
              <div class="group-child18"></div>
              <div class="div48">1일 기준 15000원</div>
              <div class="div49">
                <span class="txt1">
                  <p class="contactmoduparkingcom">평일 당일권</p>
                  <p class="p36">
                    <span>구매당일 00:00~23:59 사이 주차가능</span>
                    <span class="span5"> </span>
                  </p>
                </span>
              </div>
            </div>
          </div>
          <div class="div50">한라 3단지 주차장</div>
        </div>
        <div class="payment-icon-yellow-medium-1-parent">
          <img
            class="payment-icon-yellow-medium-1"
            alt=""
            src="img/pay_button.png/"
          />

          <div class="div51">카카오페이로 결제하기</div>
        </div>
        <div class="vector-parent">
          <img class="vector-icon2" alt="" src="img/attention_icon.svg/" />

          <div class="div52">
            <span class="txt1">
              <span>아래 경우 </span>
              <span class="span6">주차권 사용</span>
              <span class="span7">이 불가</span>
              <span>합니다!</span>
            </span>
          </div>
          <div class="div53">
            주차권이 취소되고, 전액 현장 요금이 발생합니다.
          </div>
          <div class="div54">출차 없이 주차권 2개 이상 연속 사용</div>
          <div class="div55">입차 후에 주차권 구매</div>
          <div class="div56">주차권 유효시간 외 주차</div>
          <div class="div57">한번 출차 후 재입차</div>
          <img class="group-child19" alt="" src="img/attention1_icon.svg/" />

          <img class="group-icon2" alt="" src="img/attention2_icon.svg/" />

          <img class="vector-icon3" alt="" src="img/attention3_icon.svg/" />

          <img class="group-icon3" alt="" src="img/attention4_icon.svg/" />
        </div>
      </div>
    </div>

    <div id="container" class="popup-overlay" style="display: none">
      <div class="div1">
        <div class="div2">
          <div class="div3">
            <div class="inner">
              <div class="group-wrapper">
                <div class="group-wrapper">
                  <div class="group-child"></div>
                  <div class="div4">
                    <p class="p">1일 기준 15000원</p>
                    <p class="p1">
                      <span> 구매하기</span>
                      <span class="span"> </span>
                    </p>
                  </div>
                  <div class="div5">
                    <p class="p">평일 당일권</p>
                    <p class="p1">
                      <span>구매당일 00:00~23:59 사이 주차가능</span>
                      <span class="span"> </span>
                    </p>
                  </div>
                  <img class="group-item" alt="" src="./public/group-42.svg" />
                </div>
              </div>
            </div>
            <div class="akar-iconsplay"></div>
            <img class="icon1" alt="" src="./public/--113044-1@2x.png" />

            <div class="child"></div>
            <img class="group-icon" alt="" src="./public/group.svg" />

            <div class="div6">로드뷰</div>
            <div class="div7">한라 3단지 아파트 주차장</div>
            <img class="item" alt="" src="img/share_ icon.svg/" />

            <img class="child1" alt="" src="img/navi_icon.svg/" />

            <img class="child2" alt="" src="img/bookmark.svg/" />


            <img class="group-icon1" alt="" src="img/revision.svg/" />

            <img class="vector-icon" alt="" src="./public/vector.svg" />

            <div class="div8">전달</div>
            <div class="div9">수정요청</div>
            <div class="div10">즐겨찾기</div>
            <div class="div11">네비게이션</div>
            <div class="rectangle-group">
              <div class="group-inner"></div>
              <div class="div12">
                소형차 주차만 가능합니다 / 모든 차량 주차 가능합니다
              </div>
            </div>
            <div class="rectangle-container">
              <div class="rectangle-div"></div>
              <div class="div13">
                <p class="p">
                  <span>
                    <span>3시간 기준 3000원</span>
                  </span>
                </p>
                <p class="p1">
                  <span>
                    <span> 구매하기</span>
                  </span>
                  <span class="span2"> </span>
                </p>
              </div>
              <div class="div14">
                <p class="p">평일 시간권</p>
                <p class="p7">
                  <span>구매당일 17:00~23:59 사이 주차가능</span>
                  <span class="span2"> </span>
                </p>
              </div>
              <img class="group-item" alt="" src="./public/group-421.svg" />
            </div>
          </div>
          <div class="div15">
            <img
              class="akar-iconsphone"
              alt=""
              src="./public/akariconsphone.svg"
            />

            <img
              class="akar-iconslocation"
              alt=""
              src="./public/akariconslocation.svg"
            />

            <div class="div16">010.1234.5678</div>
            <hr>
          	 <div class="line-div"></div>
            <div class="parent">
              <div class="div17">특이사항</div>
              <div class="group-child2"></div>
              <div class="tel-02-1818-1818-container">
                <p class="p8">기계식 주차장 유무 (차종 안내)</p>
                <p class="p8">관리실 유무 tel. 02-1818-1818</p>
                <p class="p">실내/실외 주차장 여부</p>
              </div>
            </div>
            <div class="group">
              <div class="div18">시간요금</div>
              <div class="group-child3"></div>
              <div class="div19">
                <p class="p10">초기무료</p>
                <p class="p10">기본요금</p>
                <p class="p10">추가요금</p>
                <p class="p10">할증 기준시간</p>
                <p class="p">할증요금</p>
              </div>
              <img class="line-icon" alt="" src="./public/line-4.svg" />

              <div class="group-child4"></div>
              <div class="div20">
                <span class="txt">
                  <p class="blank-line">10분 무료</p>
                  <p class="blank-line">&nbsp;</p>
                  <p class="blank-line">30분당 1000원</p>
                  <p class="blank-line">&nbsp;</p>
                  <p class="blank-line">5분당 1000원</p>
                  <p class="blank-line">&nbsp;</p>
                  <p class="blank-line">21:00~05:00</p>
                  <p class="blank-line">&nbsp;</p>
                  <p class="blank-line">2000원</p>
                  <p class="p"></p>
                </span>
              </div>
            </div>
            <div class="child3"></div>
            <hr>
            <img class="child4" alt="" src="./public/line-7.svg" />

            <div class="div21">경기 성남시 분당구 정자일로 72</div>
            <img
              class="akar-iconsphone"
              alt=""
              src="img/tel_icon.svg/"
            />

            <img
              class="akar-iconslocation"
              alt=""
              src="img/address_black.svg/"
            />

            <div class="div16">010.1234.5678</div>
            <div class="div21">경기 성남시 분당구 정자일로 72</div>
            <div class="child5"></div>
          </div>
          <div class="div24">
            <div class="child6"></div>
            <div class="group-parent">
              <div class="container">
                <div class="div17">유료 운영시간</div>
                <div class="group-child5"></div>
                <div class="div26">
                  <p class="p21">평일</p>
                  <p class="p21">토요일</p>
                  <p class="p21">일요일</p>
                  <p class="p">공휴일</p>
                </div>
                <div class="group-child6"></div>
                <div class="group-child7"></div>
                <div class="group-child8"></div>
              </div>
              <div class="div27">00:00~23:59</div>
              <div class="div28">00:00~23:59</div>
              <div class="div29">00:00~23:59</div>
              <div class="div30">00:00~23:59</div>
              <div class="yyyy-mm-dd-container">
                <span class="txt">
                  <p class="p">YYYY-MM-DD</p>
                  <p class="p">해당 날짜로 업데이트된 정보입니다.</p>
                  <p class="p">&nbsp;</p>
                  <p class="p">안내하는 정보는 현장의 최신 정보와</p>
                  <p class="p">차이가 있을 수 있습니다.</p>
                  <p class="p">
                    현장 정보와 일치하지 않아 발생한 피해에 대해서는
                  </p>
                  <p class="p">OO주차장에서는 책임을 지지 않습니다.</p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="container" class="popup-overlay" style="display: none">
      <div class="div">
        <img class="icon" alt="" src="주차장 목록 이미지" />
      </div>
    </div>

    <script>
      var vectorIcon = document.getElementById("vectorIcon");
      if (vectorIcon) {
        vectorIcon.addEventListener("click", function () {
          var popup = document.getElementById("container");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      
      var text4 = document.getElementById("text4");
      if (text4) {
        text4.addEventListener("click", function () {
          var popup = document.getElementById("container");
          if (!popup) return;
          var popupStyle = popup.style;
          if (popupStyle) {
            popupStyle.display = "flex";
            popupStyle.zIndex = 100;
            popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
            popupStyle.alignItems = "center";
            popupStyle.justifyContent = "center";
          }
          popup.setAttribute("closable", "");
      
          var onClick =
            popup.onClick ||
            function (e) {
              if (e.target === popup && popup.hasAttribute("closable")) {
                popupStyle.display = "none";
              }
            };
          popup.addEventListener("click", onClick);
        });
      }
      </script>
  </body>
</html>
