<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.UserMapper">
	<resultMap type="user" id="user">
		<id column="user_id" property="userId" />
		<result column="user_pw" property="passwd" />
		<result column="user_name" property="name" />
		<result column="user_contact" property="phoneNumber" />
		<result column="user_mail" property="eMail" />
		<result column="user_gender" property="gender" />
		<result column="user_num" property="membershipNumber" />
	</resultMap>

	<!-- //로그인 -->
	<select id="login" parameterType="Map" resultMap="user">
		select * from
		USER_ where user_id like #{userId} and user_pw like #{passwd}
	</select>

	<!-- //회원가입 -->
	<insert id="insertUser" parameterType="user">
		insert into USER_
		values(#{userId}, #{name}, #{passwd}, #{phoneNumber},
		#{gender},
		#{eMail}, 1, #{membershipNumber},'g')
	</insert>

	<!-- //회원가입 ID 중복검사 -->
	<select id="UserCheckId" parameterType="user" resultType="int">
		select
		count(*) from USER_ where user_id = #{userId}
	</select>

	<!-- //관리자페이지 - USER 전체 조회 -->
	<select id="viewAlluser" resultMap="user">
		select * from USER_
	</select>

	<!-- //관리자페이지 - 해당 USER 조회 -->
	<select id="searchUser" parameterType="map" resultMap="user">
		select
		user_id, user_pw, user_name, user_contact, user_mail from USER_
		where
		${kind} like '%' || #{search} || '%'
	</select>

	<!-- //아이디 조회로 신원확인 후 비밀번호 찾기 -->
	<select id="getUser" parameterType="user">
		select * from USER_ where
		user_id = #{userId}
	</select>

	<!-- //비밀번호 변경 -->
	<update id="updatePasswd" parameterType="user">
		update USER_ set user_pw
		= #{passwd} where user_id = #{userId}
	</update>



</mapper>