
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1, width=device-width" />
	<link rel="stylesheet" href="/login_css/user.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jua:wght@400&display=swap" />
</head>

<body>
	<div class="div">
		<div class="div1">
			<button class="ob-forms">뒤로 돌아가기</button>
			<div class="image-3-parent">
				<img class="image-3-icon" alt="" src="/img/login_img/parking.png" />

				<div class="div2">“회원번호”님의<br> 이용내역</div>
			</div>
			<div class="parent">
				<div class="div3">
					<img class="icon" alt="" src="/img/login_img/ppangppang.png" />
				</div>
				<div class="div4">공유주차</div>
			</div>
			<div class="frame">
				<div class="frame1">
					<div class="rectangle"></div>
					<b class="b">이용날짜</b>
				</div>
				<div class="frame2">
					<div class="rectangle1"></div>
					<b class="b">이용시간</b>
				</div>
				<div class="frame3">
					<div class="rectangle1"></div>
					<b class="b2">이용금액</b>
				</div>
				<div class="frame4">
					<div class="rectangle3"></div>
					<b class="b">결제수단</b>
				</div>
				<div class="frame5">
					<div class="rectangle4"></div>
					<div class="div5">-</div>
				</div>
				<div class="frame6">
					<div class="rectangle4"></div>
					<div class="div5">-</div>
				</div>
				<div class="frame7">
					<div class="rectangle4"></div>
					<div class="div5">-</div>
				</div>
				<div class="frame8">
					<div class="rectangle4"></div>
					<div class="div5">-</div>
				</div>
				<div class="frame9">
					<div class="rectangle4"></div>
					<div class="div5">-</div>
				</div>
				<div class="frame10">
					<div class="rectangle4"></div>
					<div class="div5">-</div>
				</div>
				<div class="frame11">
					<div class="rectangle4"></div>
					<div class="div5">-</div>
				</div>
				<div class="frame12">
					<div class="rectangle4"></div>
					<div class="div5">-</div>
				</div>
				<div class="frame13">
					<div class="rectangle12"></div>
					<div class="div5">-</div>
				</div>
				<div class="frame14">
					<div class="rectangle4"></div>
					<div class="div5">-</div>
				</div>
				<div class="frame15">
					<div class="rectangle4"></div>
					<div class="div5">-</div>
				</div>
				<div class="frame16">
					<div class="rectangle15"></div>
					<div class="div5">-</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		const searchButton = document.querySelector('.ob-forms');

		searchButton.addEventListener('click', (e) => {
			e.preventDefault();
		})

	</script>
</body>

</html>